.index_header{
	height: 30px;
	width: 100%;
	line-height: 26px;
	font-size: 14px;
	font-family:'Microsoft Yahei', '微软雅黑';
	background-color: #f3f3f3;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
	color: #6d6d6d;
}
.on{
	color: #ff8400;
}
a{
	color: #242933;
}
body{
	font-family:'Microsoft Yahei', '微软雅黑';
}
.header_wrap{
	margin: 0 auto;
	width: 1200px;
}
.header_left{
	float: left;
	margin-left: 30px;
}
.index_header a {
    color: #646262;
    text-decoration: none;
}
.index_header a:hover{
	color: #ff3414;
}
.index_header a{
	margin-right: 20px;
}
.header_phone{
	font-size: 14px;
	color: #6d6d6d;
}
.header_phone a:hover{
	color: #6d6d6d;
}
.header_phone_number{
	margin-left: 12px;
}
.header_moblie{
	margin: 0 6px 0 36px;
}
.user_info{
	float: right;
}
.help_center{
	padding-left: 24px;
	border-left: 1px solid #bebebe;
}
/*头部CSS结束*/
.menu_list{
	height: 110px;
	background-color: #fff;
}
.menu_list_info{
	margin: 0 auto;
	width: 1200px;
	height: 100%;
	line-height: 110px;
}
ul{
	margin:0;
	padding: 0;
	display: inline-block;
	overflow: hidden;.
}
.menu_list_info li{
	float: left;
	list-style: none;
	margin-left: 80px;
	font-size: 16px;
}
/*导航栏结束*/
.down_footer{
	height: 322px;
	width: 100%;
	background-color: #0a131c;
}
.footer_content_top{
	width: 100%;
	height: 178px;
	border-bottom: 1px solid #4e4f55; 
}
.footer_content_top_block{
	width: 1200px;
	height: 178px;
	margin: 0 auto;
}
.find_us{
	display: inline-block;
	position: relative;
	height: 178px;
}
.find_us_p{
	padding: 34px 0 0 20px;
	color: #9fa4ac;
	font-size: 18px;
}
.find_us_mail,.find_us_phone,.find_us_address{
	padding: 24px 20px 0px ;
}
.find_us_mail span,.find_us_phone span{
	color: #9fa4ac;
	font-size: 16px;
}
address{
	margin:0;
	display: inline-block;
	color: #9fa4ac;
	font-size: 16px;
}
/*底部栏结束*/